connect2016registration/src/main/app/connect2016registration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    
    <flow name="connectRegistration-main">
        <http:listener config-ref="connectRegistration-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <http:basic-security-filter xmlns:http="http://www.mulesoft.org/schema/mule/http" realm="mule-realm" securityProviders="memory-provider"/>
        <apikit:router config-ref="connectRegistration-config" doc:name="APIkit Router" />
        <exception-strategy ref="connectRegistration-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <apikit:mapping-exception-strategy name="connectRegistration-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

    <flow name="post:/Register:application/json:connectRegistration-config">
        <flow-ref name="connectregistrationFlow" doc:name="connectregistrationFlow"/>

    </flow>
    <flow name="connectregistrationFlow">
        <dw:transform-message metadata:id="593b83a0-c9ca-4dc2-87c9-ebfc0c3e876f" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%input payload text/json
%output application/java
---
"entry.414033141=" ++ payload.firstName ++ "&entry.1816515141=" ++ payload.lastName ++ "&entry.47591055=" ++ payload.company ++ "&entry.287396770=" ++ payload.email ++ "&entry.71556692=" ++ payload.telephone ++ "&entry.568856930=" ++ payload.companyRole ++ "&fvv=1"]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/forms/d/10K7oNAgc38FXwY7RPfBFZiAkh6uECPEeVznWWB1y1Fc/formResponse" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/x-www-form-urlencoded"/>

            </http:request-builder>
        </http:request>
    </flow>
    </mule>
